<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Coronavirus COVID-19 Global Cases by Johns Hopkins</title>
    <meta
      name="description"
      content="Coronavirus COVID-19 Global Cases by Johns Hopkins"
    />
    <meta
      name="author"
      content="Ido Green | greenido.wordpress.com | @greenido"
    />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <!--     <link rel="stylesheet" href="/style.css" /> -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">🦠 Coronavirus</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"
                >🏡 Home<span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./num">🔢 Numbers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="./tweets">🦜 Tweets</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col">
            <a
              class="twitter-timeline"
              href="https://twitter.com/greenido/lists/corona-19?ref_src=twsrc%5Etfw"
              >A Twitter List by greenido</a
            >
            <script
              async
              src="https://platform.twitter.com/widgets.js"
              charset="utf-8"
            ></script>
          </div>
          <div class="col">
            
           <a class="twitter-timeline" href="https://twitter.com/greenido/lists/business-stuff?ref_src=twsrc%5Etfw">A Twitter List by greenido</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="alert alert-primary" role="alert">
        <a
          href="https://www.cdc.gov/coronavirus/2019-ncov/index.html"
          target="_blank"
          >CDC.gov</a
        >
      </div>
      <div class="alert alert-secondary" role="alert">
        <a href="https://coronavirus.jhu.edu/" target="_blank"
          >CORONAVIRUS RESOURCE CENTER</a
        >
      </div>
      <div class="alert alert-success" role="alert">
        <a
          href="https://systems.jhu.edu/research/public-health/ncov/"
          target="_blank"
          >Research & data</a
        >
      </div>

      <hr />
      <div class="alert alert-dark" role="alert">
        <a href="https://ido-green.appspot.com" target="_blank">@greenido</a> -
        <a href="https://github.com/greenido/coronavirus-19" target="_blank"
          >💻 Code</a
        >
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!-- GA -->
    <script>
      (function(i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function() {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "//www.google-analytics.com/analytics.js",
        "ga"
      );
      ga("create", "UA-27750723-1", "auto");
      ga("require", "displayfeatures");
      ga("send", "pageview");
    </script>
  </body>
</html>
